In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Sklearn - Machine Learning
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [4]:
df=pd.read_csv(r"C:\Users\rishi\Favorites\Downloads\quikr_car.csv")

In [5]:
df.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [133]:
df.isnull().mean()*100

name          0.000000
company       0.000000
year          0.000000
Price         0.000000
kms_driven    5.829596
fuel_type     6.165919
dtype: float64

In [7]:
df.shape
df['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

##Quality 
year has many non-year 
-year object to int
-price object to int
-kms driven has kms with integers
-kms_driven has nan values
-keep first 3 words of name

#cleaning

In [8]:
df=df[df['year'].str.isnumeric()]

In [9]:
df['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '2003', '2004', '1995', '2002', '2001'], dtype=object)

In [10]:
df['name'] = df['name'].str.split().str[:3].str.join(' ')

In [36]:
df.describe()

df.dropna(inplace=True)
df.isnull().sum()
df.shape
df.describe()

,year,Price,kms_driven,company_BMW,company_Chevrolet,company_Datsun,company_Fiat,company_Force,company_Ford,company_Hindustan,...,company_Mercedes,company_Mini,company_Mitsubishi,company_Nissan,company_Renault,company_Skoda,company_Tata,company_Toyota,company_Volkswagen,company_Volvo
count,837.000000,8.370000e+02,8.370000e+02,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,...,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000
mean,2012.513740,4.117176e+05,5.942412e-17,0.009558,0.040621,0.009558,0.004779,0.004779,0.037037,0.003584,...,0.007168,0.009558,0.007168,0.007168,0.040621,0.015532,0.080048,0.045400,0.023895,0.001195
std,4.028174,4.691782e+05,1.000598e+00,0.097355,0.197529,0.097355,0.069006,0.069006,0.188965,0.059797,...,0.084413,0.097355,0.084413,0.084413,0.197529,0.123728,0.271529,0.208305,0.152813,0.034565
min,1995.000000,3.000000e+04,-1.335777e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2010.000000,1.780000e+05,-6.103547e-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2013.000000,3.100000e+05,-1.460843e-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2015.000000,4.899990e+05,3.022267e-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2019.000000,8.500003e+06,1.027098e+01,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [35]:

df = pd.get_dummies(df, columns=['company'], drop_first=True)

bool_cols = df.select_dtypes(include='bool').columns
df[bool_cols] = df[bool_cols].astype(int)

KeyError: "None of [Index(['company'], dtype='object')] are in the [columns]"

In [13]:
df['Price'].value_counts()

Price
Ask For Price    21
2,50,000         16
3,50,000         12
4,00,000         11
1,30,000         11
                 ..
7,49,999          1
11,30,000         1
10,74,999         1
3,24,999          1
5,00,001          1
Name: count, Length: 273, dtype: int64

In [14]:
df['year'].isna().sum()

0

In [15]:
df.head()

,name,year,Price,kms_driven,fuel_type,company_BMW,company_Chevrolet,company_Datsun,company_Fiat,company_Force,...,company_Mercedes,company_Mini,company_Mitsubishi,company_Nissan,company_Renault,company_Skoda,company_Tata,company_Toyota,company_Volkswagen,company_Volvo
0,Hyundai Santro Xing,2007,"80,000","45,000 kms",Petrol,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Mahindra Jeep CL550,2006,"4,25,000",40 kms,Diesel,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Maruti Suzuki Alto,2018,Ask For Price,"22,000 kms",Petrol,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Hyundai Grand i10,2014,"3,25,000","28,000 kms",Petrol,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Ford EcoSport Titanium,2014,"5,75,000","36,000 kms",Diesel,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
df['kms_driven'].head()
df['kms_driven'] = df['kms_driven'].str.replace(' kms', '', regex=False)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 837 entries, 0 to 889
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                837 non-null    object
 1   year                837 non-null    object
 2   Price               837 non-null    object
 3   kms_driven          837 non-null    object
 4   fuel_type           837 non-null    object
 5   company_BMW         837 non-null    int32
 6   company_Chevrolet   837 non-null    int32
 7   company_Datsun      837 non-null    int32
 8   company_Fiat        837 non-null    int32
 9   company_Force       837 non-null    int32
 10  company_Ford        837 non-null    int32
 11  company_Hindustan   837 non-null    int32
 12  company_Honda       837 non-null    int32
 13  company_Hyundai     837 non-null    int32
 14  company_Jaguar      837 non-null    int32
 15  company_Jeep        837 non-null    int32
 16  company_Land        837 non-null    int32
 17  company_Mahindra    837 non-null    int32
 18  company_Maruti      837 non-null    int32
 19  company_Mercedes    837 non-null    int32
 20  company_Mini        837 non-null    int32
 21  company_Mitsubishi  837 non-null    int32
 22  company_Nissan      837 non-null    int32
 23  company_Renault     837 non-null    int32
 24  company_Skoda       837 non-null    int32
 25  company_Tata        837 non-null    int32
 26  company_Toyota      837 non-null    int32
 27  company_Volkswagen  837 non-null    int32
 28  company_Volvo       837 non-null    int32
dtypes: int32(24), object(5)
memory usage: 117.7+ KB

In [18]:

df=df[df['year'].str.isnumeric()]
df['year']= df['year'].astype(int)

In [19]:
df['Price'] = (
    df['Price']
    .str.replace(',', '', regex=False)
)

df['Price'] = pd.to_numeric(df['Price'], errors='coerce')

In [34]:
df['kms_driven'] = (
    df['kms_driven']
    .str.replace(' kms', '', regex=False)
    .str.replace(',', '', regex=False)
)

df['kms_driven'] = pd.to_numeric(df['kms_driven'], errors='coerce')

AttributeError: Can only use .str accessor with string values!

In [33]:


df['Price']=df['Price'].fillna(df['Price'].mean())

df['kms_driven']=df['kms_driven'].fillna(df['kms_driven'].mean())


df['fuel_type'] = df['fuel_type'].fillna(df['fuel_type'].mode()[0])
df.isnull().sum()

KeyError: 'fuel_type'

In [51]:

df = pd.get_dummies(df, columns=['fuel_type'], drop_first=True)

KeyError: "None of [Index(['fuel_type'], dtype='object')] are in the [columns]"

In [49]:
X=df.drop(columns='Price')
Y=df['Price']

In [50]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
X, Y,
test_size=0.2,random_state=42     # for reproducibility
)

In [25]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [48]:
model = LinearRegression()
df.head()
df.drop(columns=['name'],inplace=True)

KeyError: "['name'] not found in axis"

In [52]:


df['fuel_type_LPG'] = df['fuel_type_LPG'].astype(int)

df['fuel_type_Petrol'] = df['fuel_type_Petrol'].astype(int)
df.head()

,year,Price,kms_driven,company_BMW,company_Chevrolet,company_Datsun,company_Fiat,company_Force,company_Ford,company_Hindustan,...,company_Mitsubishi,company_Nissan,company_Renault,company_Skoda,company_Tata,company_Toyota,company_Volkswagen,company_Volvo,fuel_type_LPG,fuel_type_Petrol
0,2007,80000.000000,-0.030017,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2006,425000.000000,-1.334616,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2018,411717.615196,-0.697405,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,2014,325000.000000,-0.523304,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2014,575000.000000,-0.291169,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
model.fit(X_train,y_train)
y_pr=model.predict(X_test)

In [54]:
df.head()
y_test.shape
X = X.reset_index(drop=True)

In [55]:
from sklearn.metrics import r2_score



score = r2_score(y_test, y_pr)

print("R2 Score:", score)

R2 Score: 0.6919856108023617

In [56]:
bool_cols = df.select_dtypes(include='bool').columns
df[bool_cols] = df[bool_cols].astype(int)

In [30]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

df['kms_driven'] = scaler.fit_transform(df[['kms_driven']])

In [57]:
from sklearn.metrics import r2_score



score = r2_score(y_test, y_pr)

print("R2 Score:", score)

R2 Score: 0.6919856108023617

In [58]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

mae = mean_absolute_error(y_test, y_pr)


print("MAE:", mae)

MAE: 148003.0606216371

In [60]:
import pickle

with open("linear.pkl", "wb") as file:
    pickle.dump(model, file)

In [63]:
import numpy as np

new_car = np.array([[2018, 40000, 0,0,0,0,0,0,0,..., 1, 0]])

predicted_price = model.predict(new_car)

print("Predicted Price:", predicted_price[0])

C:\Users\rishi\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

TypeError: float() argument must be a string or a real number, not 'ellipsis'

In [70]:
new_car = pd.DataFrame(columns=X.columns)
new_car.loc[0] = 0   # set all values to 0

new_car['year'] = 2018
new_car['kms_driven'] = 40000
new_car['company_Tata'] = 1
new_car['fuel_type_Petrol'] = 1

predicted_price = model.predict(new_car)
print(predicted_price)

[-2.53645927e+08]